
<div class="shopping-list__table-wraper">

  <h1>Shopping List</h1>

  <table class="food-table">
    <thead>
      <tr class="table-header-row">
        <th class="table-food-header"> Ingredient </th>
        <th class="table-food-header"> Price per unit </th>
        <th class="table-food-header">Measurement Unit </th>
        <th class="table-food-header">Quantity Needed </th>
        <th class="table-food-header">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr class="table-data-row">
          <td class="table-food-data">
            <%= ingredient.food.name %>
          </td>

          <td class="table-food-data">
            <%= number_to_currency(ingredient.food.price) %>
          </td>

          <td class="table-food-data">
            <%= ingredient.food.measurement_unit %>
          </td>

          <td class="table-food-data">
            <%= ingredient.quantity %>
          </td>

          <td class="table-food-data">
            <%= number_to_currency(ingredient.quantity * ingredient.food.price) %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="table-header-row">
          <td class="table-food-data">Total</td>
          <td class="table-food-data"></td>
          <td class="table-food-data"></td>
          <td class="table-food-data"></td>
          <td class="table-food-data"><%= number_to_currency(@total_price) %></td>
      </tr>
    </tfoot>

  </table>
</div>
