<%= form_with(model: [current_user, @recipe, @recipe_food]) do |form| %>
  <% if recipe_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div class="">
    <%= form.label :food_id %>
    <%= form.select :food_id, [["Barley", 8], ["Capers", 9], ["Rice Flour", 10], ["Tapioca", 11], ["Oyster Sauce", 12], ["Oatmeal", 13], ["Tabasco", 14]] %>
  </div>

  <div>
    <%= form.hidden_field :recipe_id, value: @recipe.id  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
